# ==========================================
# SERVER
# ==========================================

PORT=3378


# ==========================================
# DATABASE
# ==========================================

DATABASE_URL="postgresql://postgres:password@localhost:5434/products-api"


# ==========================================
# BETTER AUTH
# ==========================================
# Gere um segredo seguro com:
# openssl rand -base64 32

BETTER_AUTH_SECRET=""


# ==========================================
# GOOGLE OAUTH
# ==========================================

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""


# ==========================================
# APPLICATION URLS
# ==========================================

API_BASE_URL="http://localhost:3378"
WEB_APP_BASE_URL="http://localhost:3379"
