```env
# ==========================================
# SERVER
# ==========================================

PORT=8080


# ==========================================
# DATABASE
# ==========================================

DATABASE_URL=""


# ==========================================
# BETTER AUTH
# ==========================================
# Gere um segredo seguro com:
# openssl rand -base64 32

BETTER_AUTH_SECRET=""


# ==========================================
# GOOGLE OAUTH
# ==========================================

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""


# ==========================================
# APPLICATION URLS
# ==========================================

API_BASE_URL="http://localhost:8080"
WEB_APP_BASE_URL="http://localhost:3000"
```
